<!DOCTYPE html>
<html ng-app="rest_app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://d3js.org/d3.v2.js?2.9.1"></script>
    <script src="http://square.github.com/cubism/cubism.v1.js?1.0.0"></script>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    {% load staticfiles %}
    <script src="{% static 'js/graph.js' %}"></script>

    <script src="{% static 'js/controller.js' %}"></script>

    <style>
        .horizon {
            position: relative;
        }

        .top-limit-value {
            position: absolute;
            top: 0px;
            margin: 0px;
        }

        .bottom-limit-value {
            position: absolute;
            bottom: 0px;
            margin: 0px;
        }
    </style>
</head>
<body ng-controller="rest-controller">
    <h1>Hello {{ username }}</h1>
    <a href="{% url 'auth:logout' %}">Log out</a>
    <div class="filter-content">
        {% verbatim %}
        <label for="interconnect-select">Select Interconnect</label>
        <select ng-change="getUnitIds(inter)" ng-model='inter' id="interconnect-select">
            <option ng-repeat="interconnect in interconnectList"> {{ interconnect.interconnection }}</option>
        </select>
        <label for="unit-ids-select">Select Interconnect</label>
        <select ng-change='getMeasurement(inter, unitId)' ng-model='unitId' id="unit-ids-select">
            <option ng-repeat="id in unitIds"> {{ id.unitId }}</option>
        </select>
        {% endverbatim %}

    </div>
    <div class="graph">
    </div>
</body>

</html>